TOWNSQUARE_RUNTIME_CLASS=CANARY
TOWNSQUARE_AUTHORITY_CLASS=NON-AUTHORITATIVE
TOWNSQUARE_CANARY_LABEL=TS-CANARY-NAS1-20261007-A
TOWNSQUARE_COMPOSE_PROJECT=townsquare-canary-20261007-a
TOWNSQUARE_SOURCE_COMMIT=REPLACE_WITH_REVIEWED_40_HEX_COMMIT
TOWNSQUARE_SOURCE_TREE=REPLACE_WITH_REVIEWED_40_HEX_TREE
TOWNSQUARE_R7_RELEASE_ID=REPLACE_WITH_TS_R7_PLUS_64_HEX
TOWNSQUARE_R7_INPUT_MANIFEST_SHA256=REPLACE_WITH_64_HEX_SHA256
